* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.container {
    width: 1240px;
    margin: 0 auto;

}


#header {
    color: #504e4e;
    padding: 5px 0px;
    width: 100%;
    
}
#header a {
    color: #fff;
}
#header .col-1 {
    width: 55%;
}
#header .col-2 {
    width: 25%;
    padding-top: 14px;
    margin-left: 20%;
}
.col-2 button{
    border: none;
    background-color: red;
    padding: 2px 12px;
    border-radius: 3px;
    color: white;
    opacity: .7;
    font-size: 13px;

}

.subnavbar {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(230, 224, 224,0.3);
    margin-bottom:10px;
    
}

.navitem {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 150px;
    padding-top: 10px;
}

ul.navitem li {
    display: inline;
}

.navitem li a {
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 8px;
}



.navitem li a:hover {
    color: white;
}

.navitem1 {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 210px;
    padding-top: 10px;
}

ul.navitem1 li {
    display: inline;
}

.navitem1 li a {
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 10px;
}



.navitem1 li a:hover {
    color: white;
}
#header .logo {
    width: 17%;
}
#header .search {
    width: 80%;
    position: relative;
}
#header .search input[type="text"] {
    width: 100%;
    height: 30px;
}
#header .search .btn {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #999999;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#header .col-2 ul li{
    display: inline-block;
    margin: 0px 10px;
}

#main-navigation{
    background-color: #222539;
    height: 40px;
    margin-bottom: 30px;
}
#main-navigation .container{
    width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
}

#main-navigation ul{
    list-style: none;
    
}

#main-navigation ul li{
    display: inline-block;
    text-align: center;
    padding-left: 15px;
}

#main-navigation ul li a{
    text-decoration: none;
    color:#F8FFEC;
font-size: 14px;    
}

#content{
    width: 100%;

}

#section_1 {
    margin-bottom: 30px;

}
#section_1 h2 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}
#section_1 .left {
    width: 18%;
    margin-right: 20px;
}
#section_1 img {
    width: 100%;
    margin-bottom: 10px;
}
#section_1 a {
    color: #000;
}
#section_1 h6 {
    margin-bottom: 5px;
    font-weight: bold;


}
#section_1 a span {
    color: rgb(102, 102, 102);
    font-size: 15px;
    
    

}

.cards{
    display: flex;
    overflow-x: scroll;
}
.box{
    width: 200px;
    height: 59vh;
    
}
::-webkit-scrollbar {
    width: 1px; 
    scrollbar-width:thin;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
    border-radius: 8px; /* roundness of the track */
}

::-webkit-scrollbar-thumb {
    background: #0e3051; /* color of the draggable part */
    border-radius: 10px; /* roundness of the thumb */
}
/* hide the scrollbar arrow in Edge */
/* vertical scrollbar */
::-webkit-scrollbar-thumb:vertical {
    border: 2px solid transparent;
    background-clip: content-box;
}

/* horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
    border: 4px solid transparent;
    background-clip: content-box;
}



#section_2{
    margin-bottom: 30px;
    width: 100%;


}

#section_2 h4{
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: bold;

    }

#section_2 .left{
        width: 20%;
        margin-right:7px;
    }

#section_2 img{
        width:100%
    }

.box1 img{
    border-radius: 10px;
    
    
}

#section_3{
    background-color: #2B3148;
    padding-top: 10px;
    width: 100%;



}

#section_3 img{
    width:100%; 
}

#section_4{
    background-color: #2B3148;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;

}
#section_4 h4{
    font-weight: bold;

}

#section_4 .left{
    margin-top: 10px;
    width: 18%;
    margin-right: 20px;
}

#section_4 .left img{
    width:100%;
    
}

#section_4 a{
    color: #FFFFFF;
    
}
.cards2{
    display: flex;
    overflow-x: scroll;

}
.box2{
    width: 200px;
    height: 59vh;
}

.box2 h5{
    font-weight: bold;
    margin-top: 10px;
}


#section_5{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 100%;

}
.box3{
    width: 200px;
    height: 59vh;

}
.box3 img{
    /* border: 2px solid yellow; */
    border-radius: 10px;
    
}

#section_5 h4{
    margin-bottom: 20px;
    font-weight: bold;
    }
#section_5 h6{
    font-weight: bold;
    margin-top: 15px;
    }

#section_5 .left{
        width: 18%;
        margin-right:20px;
    }

#section_5 img{
        width:100%
    }


    #section_5 a {
        color: #000;
    }
    #section_5 h4 {
        margin-bottom: 10px;
    }
    #section_5 a span {
        margin-top: 20px;
        color: grey;
        font-size: 15px;
    }
    
#section_6 {
    padding: 65px 0px;
    background-color: #F5F5F5;
    width: 100%;
    

}

#section_6 h4{
    color:#333333;
    font-weight: bold;
}

#section_6 .left{
    width: 15%;
    background-color: #FFFFFF;
    margin-right: 16px;
    margin-top: 16px;
    padding: 14px 45px 12px 16px;
}

#section_6 div{
    color:#F94464
    
}

#section_6 span{
   color: rgb(102, 102, 102);
}

#section_7 {
    margin-bottom: 30px;

}
#section_7 h4 {
    margin-top: 45px;
    margin-bottom: 30px;
    font-weight: bold;
}
#section_7 .left {
    width: 18%;
    margin-right: 20px;
}
#section_7 img {
    width: 100%;
    margin-bottom: 10px;
}
#section_7 a {
    color: #000;
}
#section_7 h6 {
    margin-bottom: 5px;
    font-weight: bold;


}
#section_7 a span {
    color: rgb(102, 102, 102);
    font-size: 15px;
    
    

}

.cards{
    display: flex;
    overflow-x: scroll;
}
.box4{
    width: 200px;
    height: 64vh;
    
    
}
.box4 img{
    border-radius: 10px;
    
    
}

















.footer{
    padding-top: 40px;
   

    width: 100%;
    height: 30vh;
    background-color: rgb(45, 45, 45);
}
.liys{
    height: 10%;
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
.liysl{
    width: 71%;
    height: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.liysl img{
    margin-bottom: 20px;
}
.liysl h3{
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.liysl p{
    font-size: 15px;
  
    
}
.liysr{
   
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.cus{
    margin-top: 30px;
    height: 20vh;
    width: 100%;
    color: rgb(176, 177, 178);
    background-color: rgb(90, 87, 87);
    
}
.cus ul{
    height: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.cus img{
    width: 65px;
    height: 65px;
   
}


#footer_section_1{
    background-color: #404043;
}
.foot-img img{
    width: 100%;
    height: 15vh;
}

#footer_section_1 .left{ 
width: 33%;
}

#footer_section_1 img{
    width: 34%;
    margin-left: 36px;
}

#footer_section_1 a{
color: #F3FFFF;
}

#footer_section_1_div_1{
    padding-top: 10px;
}

#footer_section_1_div_2{
    padding-top: 25px
}

#footer_section_2{
    background-color: #333338;
    padding-bottom: 1px;
    }

#footer_section_2 h4{
    
    padding-top: 20px;
    font-size: 12px;
    color: #F3FFFF;
}

    #footer_section_2 ul{
        
    
    }
    #footer_section_2 ul li{
        display: inline-block;
    
    }

    #footer_section_2 ul li a{
        color: #F3FFFF;
        font-size: 11px;

    }

    #footer_section_3{
        background-color: #333338;
        padding-top: 40px;
        position: relative;
        /* z-index: -3; */
    
    }
    
    #footer_section_3 h1 {
        text-align: center;
        position: relative;
    }
    #footer_section_3 h1.text {
        position: relative;
        /* z-index: 11; */
    }
    /* #footer_section_3 h1 .border:after {
        content: "";
        border: 1px solid white;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 50%;
        z-index: -2;
    } */
    /* h1::before {
        content: "";
        background-color: #333338;
        width: 18%;
        left: 41%;
        height: 100%;
        position: absolute;
        z-index: -1;
    } */
    
    #footer_section_4{
        background-color: #333338;
    }
    
    #footer_section_4 ul{
        text-align: center;
    }
    
    #footer_section_4 li{
        padding-top: 30px;
        display: inline-block;
        
        
    }
    
    
    #footer_section_4 svg{
        height:40px;
    }
    
    #footer_section_5 {
        background-color: #333338;
        padding-top: 20px;
    }
    
    #footer_section_5 div{
        text-align: center;
        font-size: 12px;
        color: #F3FFFF;
    
    }






    .main{
       width: 100%;
       height: 65vh; 
       position: relative;
       background: rgb(13,13,13);
       background: linear-gradient(90deg, rgb(54, 53, 53) 2%, rgb(51, 50, 50) 36%, rgb(0, 0, 0) 100%);
       
    }
    .main img{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        height: 65vh;

    }
    .main-img{
        /* width: 200px;
        height: 20vh; */
       
        
        


    }
    .main-img:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(13,13,13);
        background: linear-gradient(90deg, rgb(33, 31, 31) 2%, rgb(51, 50, 50) 36%, rgb(0, 0, 0) 100%);
        width: 30%;
        height: 100%;
    }
    .main-img img{
        position: absolute;
        top: 9%;
        left: 10%;
        width: 200px;
        height: 55vh;
        border-radius: 7px;
    }

    .main-content{
        color: white;
        /* background-color: rgb(57, 56, 56); */
        width: 30%;
        position: absolute;
        top: 11%;
        left: 25%;

        

    }

    .main:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: rgb(13,13,13);
        background: linear-gradient(90deg, rgb(7, 7, 7) 2%, rgb(32, 31, 31) 36%, rgb(42, 40, 40) 100%);
        width: 3%;
        height: 100%;
    }
    

    .content1{
        background-color: rgb(57, 56, 56);
        height: 8vh;
        width: 90%;
        padding: 10px 20px;
        border-radius: 7px;

        
    }
    .content2{
        height: 7vh;
        background-color: white;
        color: black;
        padding: 7px 5px;
        margin-top: 20px;
        font-size: 14px;
        border-radius: 4px;
    }
    .content3{
        background-color: white;
        margin-top: 20px;
        color: black;
        width: 45%;
        border-radius: 2px;
        


    }
    .content3 p{
        padding: 0px 9px;
    }

    .content5 button{
        background-color: rgb(222, 57, 57);
        color: white;
        padding: 10px 50px;
        border: none;
        border-radius: 6px;
    }

    .second{
        width: 100%;
        height: 210vh;
        margin-top: 20px;
    }
    .second-head{

    }

    .fourth{
        width: 100%;
        height: 49vh;
        font-family: "Roboto", sans-serif;
        /* font-weight: 400;
        font-style: normal; */
    
    }
    
    .four-card{
        padding: 0px 42px;
        display: flex;
        overflow-x: scroll;
        justify-content:space-evenly;
        align-items: center;
        position: relative;
         
     }
    .four-card1{
        padding: 0px 42px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
         
     }
     .image{
         padding-right: 2%;
        padding-top: 4%;
         position: relative;
     
     }
     .imm img{
         width: 130px;
         height: 130px;
         border-radius: 50%;
         margin-bottom: 20px;
         margin-right: 20px;
        
     
     }
      .content{
        width: 100%;
        
        /* font-size: large; */
        /* color: rgb(21, 21, 80); */
        /* padding: 10% 37%; */
     }
     .content-l{
        margin-left: 25px;
     } 
    

     .second-cards{
        width: 100%;
        height: 50vh;
        
     }
     .second-cards1{
        width: 100%;
        height: 50vh;
     
     }

     .cards3{
            display: flex;
            overflow-x: scroll;
            
     }

     .buttons{
        display: flex;
        overflow-x: scroll;
        padding-bottom: 30px;
        gap: 20px;
        width: 80%;
    }
    